* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 750px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid {
  width: 250px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

div.controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column
}

div.grid-item {
  width: 25px;
  height: 25px;
  border: 1px dashed black;
}

.black {
  background-color: black;
}

.dropped {
  background-color: red;
}