* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid {
  width: 300px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 30px;
  height: 30px;
  border: 1px dashed black;
}

div.grid-item.player {
  background-image: url('../assets/pika-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.black {
  background-color: black;
}

.dropped {
  background-color: black;
}
