* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 750px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

body>div {
  margin: 20px
}

.game-display {
  width: 250px;
  height: 600px;
  background-color: aqua;
}
.grid {
  width: 250px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.controls {
  width: 250px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  background-color: azure;
}

.displays {
  background-color: chartreuse;
}

.instructions {
  background-color: gainsboro;
}

.grid-item {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.black {
  background-color: black;
}

.dropped {
  background-color: red;
}