* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 750px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

body>div {
  margin: 10px
}

.game-display {
  width: 250px;
  height: 600px;
  background-color: aqua;
}
.grid {
  width: 250px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.controls {
  width: 250px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  background-color: azure;
}

.displays {
  background-color: chartreuse;
  padding: 20px;
}

.instructions {
  background-color: gainsboro;
  padding: 20px;
}

.grid-item {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.black {
  background-color: black;
}

.dropped {
  background-color: red;
}

a.button1 {
  padding: 5px 20px;
  display:inline-block;
  border:0.1em solid #000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000;
  text-align:center;
  transition: all 0.2s;
}
a.button1:hover{
  color:#FFF;
  background-color: #000;
}

@media all and (max-width:30em){
 a.button1 {
  display: block;
  margin: 0.4em auto;
  }
}